{% extends 'bootstrap/base.html' %}
{%import "bootstrap/wtf.html" as wtf%}

{% block title %}Profile{% endblock %}
{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
{% include "header.html" %}

  <header>

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="{{image_file}}" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name" style="padding-top: 60px;">janedoe_</h1>

				<a href="{{url_for('edit')}}"><button class="btn profile-edit-btn">Edit Profile</button></a>

			<a href="{{url_for('post')}}" >	<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button></a>

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">164</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit 📷✈️🏕️</p>

			</div>
			{%if edit:%}
			<div>
				{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
			</div>
			{%elif post:%}
			<div>
				{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
			</div>
			{%endif%}

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 56</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 2</li>
					</ul>

				</div>

			</div>

			{%for photo in photos:%}

			<div class="gallery-item" tabindex="0">

				<img src="{{photo}}" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 89</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 5</li>
					</ul>

				</div>

			</div>
			{%endfor%}


			</div>

		</div>
		<!-- End of gallery -->

<!--		<div class="loader"></div>-->

	</div>
	<!-- End of container -->

</main>

  {% include "footer.html" %}
{% endblock %}